<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% unless @posts.empty? %>
  <% @posts.each do |post| %>
    <div class='post-card'>
      <h1 class='post-title'><%= post.title %></h1>
      <%= link_to 'Show Post', post %>
    </div>
  <% end %>
<% else %>
  <h1>Sorry No Posts!</h1>
<% end %>

<br><%= link_to 'New Post', new_post_path %>
